@bg-color: lightblue;

body{
  background-color: @bg-color;
}


form{
  border: 1px solid black;
  padding: 15px;
}

table{
  border: 1px solid black;
}

.buy{
  background-color: lightgreen;
  color: black;
}

