doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Gadgets-R-Us
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        h1 Gadgets-R-Us
    .row
      .small-6.columns
      .small-3.columns
        form#usersInput
          label User Name
          input#userName(type='text', placeholder='Insert Name')
          label Deposit Amount
          input#deposit(type='text', placeholder='Cash Money')
          button#createUser.tiny Create User
      .small-6.columns
    .row
      .small-12.columns
        table#userTable
          tr
            th(width='125') UserName
            th(width='100') Balance
            th(width='250') Items Bought
    .row
      .small-6.columns
      .small-3.columns
        form#itemInput
          label Product
          input#itemName(type='text', placeholder='Product Name')
          label Cost
          input#cost(type='text', placeholder='$$')
          label Quantity
          input#quantity(type='text', placeholder='1')
          button#createItem.tiny Create Gadget
      .small-6.columns
    .row
      .small-12.columns
        table#itemTable
          tr
            th(width ='75')
            th(width ='125') Gadget Name
            th(width ='75') Cost
            th(width = '75') Quantity on Hand
    .row
      .small-4.columns
      .small-4.columns
        #popUpBuy
          div
            span#closePop X
            h2#popUpName ITEM NAME
            h3#popUpCost Cost
            h4#popUpQuan Quan
            label Select User
            select#usersBuy(placeholder:'select user')
              option Select User
            label Select Quantity
            select#quantityBuy(placeholder:'select quantity')
              option Select Quantity
            button#confirmBuy.alert CONFIRM
      .small-4.columns
        
    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/source/main.js')

